/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 93%;
}
#box{
    height:93%;
    float: left;
    z-index: 100;
    position: absolute;
}
#nav{
    height: 7%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.c3-axis .tick line {display: none;}
