{% extends "template.html" %}

{% block body %}
<main>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Welcome</h1>
            <p> Our website, <i>Transparency</i>, allows you to look into the statistics behind complaints against officers in NYC. By using data directly from NYPD, we created an interactive map that displays all police precincts and how saturated they are with officers who have had complaints filed against them. The data is then also analyzed and placed into easily digestible graphs.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1 image_hover" ></div>
            <div class="col-md-5 image_hover" >
                <a href="/map">
                <img src="/static/images/map2.png" alt="Map" class="image">
                </a>
                <div class="middle">
                    <a href="/map">
                    <div class="text font-weight-bold">Map</div>
                    </a>
                </div>
            </div>
	<!--<div class="col-md-2 image_hover" ></div>-->
            <div class="col-md-5 image_hover" >
                <a href="/data">
                    <img src="/static/images/Selection_008.png" alt="Graph" class="image">
                </a>
                <div class="middle">
                    <a href="/data">
                        <div class="text font-weight-bold">Data</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</main>

{% endblock body %}
