{% extends "template.html" %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 text-center">Contacts</h1>
        <h3 class="display-6 text-center"> If you have any question or concerns about our project reach out to us!
        </h3>
    </div>
</div>
<div class="container bg-dark ">
    <div class="row align-items-center">
        <div class="col-md-4 contacts" >
            <div class="name">
                <h3>Mohidul Abedin </h3>
            </div>
        </div>
        <div class="col-md-8 contacts " >
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark contact_info">Github: https://github.com/Mabedin00 </li>
                <li class="list-group-item list-group-item-dark contact_info">Email: mohidul.abedin@stonybrook.edu </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-md-4 contacts" >
            <div class="name">
                <h3>Brian Moses  </h3>
            </div>
        </div>
        <div class="col-md-8 contacts " >
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark contact_info">Github: https://github.com/bmoses00 </li>
                <li class="list-group-item list-group-item-dark contact_info">Email: brian.moses@stonybrook.edu </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row align-items-center">
        <div class="col-md-4 contacts" >
            <div class="name">
                <h3>Greg Zborovsky</h3>
            </div>
        </div>
        <div class="col-md-8 contacts " >
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark contact_info">Github: https://github.com/gregzb </li>
                <li class="list-group-item list-group-item-dark contact_info">Email: greg.zborovsky@stonybrook.edu</li>
            </ul>
        </div>
    </div>
</div>


{% endblock body %}
