{% extends "template.html" %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 text-center">Contacts</h1>
        <h3 class="display-6 text-center"> If you have any question or concerns about our project reach out to us!
        </h3>
    </div>
</div>
<div class="container ">
    <div class="row align-items-center">
        <div class="col-md-4 contacts " >
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                    <h4 class="card-title name">Mohidul Abedin</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark contact_info">Github: https://github.com/Mabedin00 </li>
                        <li class="list-group-item list-group-item-dark contact_info">Email: mohidul.abedin@stonybrook.edu </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 contacts " >
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                    <h4 class="card-title name">Brian Moses</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark contact_info">Github <br> https://github.com/bmoses00 </li>
                        <li class="list-group-item list-group-item-dark contact_info">Email: <br>  brian.moses@stonybrook.edu </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 contacts " >
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                    <h4 class="card-title name">Greg Zborovsky</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark contact_info">Github: <br> https://github.com/gregzb  </li>
                        <li class="list-group-item list-group-item-dark contact_info">Email: greg.zborovsky@stonybrook.edu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock body %}
