{% extends "template.html" %}

{% block body %}
<main>
    <!-- <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">JEB!, and make navbar work!</h1>
            <p> :)
            </p>
        </div>
    </div> -->

    <div class="container">
        <div class = "row">
            <h2> Projects: </h2>
        </div><br>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div id = "btd" class="hovereffect">
                    <img class="img-responsive" src="/static/images/bloons1.png" alt="">
                    <div class="overlay">
                       <h2>Bloons Tower Defense</h2>
                       <a class="info" href="#">A Clone of the popular Bloons TD game, where you must place monkey towers to defend against attacking bloons</a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <div id = "transparency" class="hovereffect">
                    <img class="img-responsive" src="/static/images/trans2.png" alt="">
                    <div class="overlay">
                       <h2>Transparency</h2>
                       <a class="info" href="#">A site where you can view information about NYPD Police Misconduct and find information about individual precincts</a>
                    </div>
                </div>
            </div>
        </div><br>
        <div class = "row">
            <h2> Skills: </h2>
        </div><br>
        <div class = "row">
            <h2> Education: </h2>
        </div><br>
        <div class = "row">
            <h2> Contact Me: </h2>
        </div><br>
    </div>
    <br>
    <br>

</main>

{% endblock body %}
