{% extends "template.html" %}

{% block body %}
<main>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">Welcome</h1>
            <p> Our website allows you to look into complaints against officers in a certain precinct in NYC. By using data directly from NYPD, we created an interactive map that shows the different precincts and how saturated they are with officers who have had complaints filed against them for misconduct. There is also an interactive graph to analyze the data and make your conclusions.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 image_hover" >
                <a href="/">
                <img src="/static/images/nycmap.png" alt="Map" class="image">
                </a>
                <div class="middle">
                    <a href="/">
                    <div class="text font-weight-bold">Map</div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 image_hover" >
                <a href="/data">
                    <img src="/static/images/graph.png" alt="Graph" class="image">
                </a>
                <div class="middle">
                    <a href="/data">
                        <div class="text font-weight-bold">Data</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

</main>

{% endblock body %}
