<!DOCTYPE HMTL>

{% extends "template.html" %}
{% block body %}

<div id="box" class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 id="precinct_title" class="card-title">Card title</h4>
        <!-- <p class="card-text">Total complaints: </p>
            <p class="card-text">Ranking: (out of 77, lower is worse):</p>
            <p class="card-text"># officers with complaints in precinct:</p> -->
        <ul class="list-group list-group-flush">
            <li id="total_complaints" class="list-group-item">Total complaints: </li>
            <li id="ranking" class="list-group-item">Ranking: (1 is worst, 77 is best):</li>
            <li id="num_officers" class="list-group-item"># officers with complaints in precinct:</li>
            <hr>
        </ul>
    </div>

    <div class="card-body">
    </div>
</div>
<div id="search" class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">Search</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input id="address_search" class="form-control form-control-lg" type="text" placeholder="Address">
                <p></p>
                <button type="button" id="find_address_button" class="btn btn-primary">Find Precinct</button>
            </li>
            <li class="list-group-item">
                <button type="button" id="mark_current_location" class="btn btn-primary">Mark Current Location</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
    </div>
</div>
<div id="map"></div>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places"></script> -->
<script src="static/js/script.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&libraries=places">
</script>

{% endblock body %}